<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    {{!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> --}}
    <a class="navbar-brand mr-5" href="/">Shopping-kart</a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active mr-2">
          <a class="nav-link" href="">products <span class="sr-only">(current)</span></a>
        </li>
        {{#if user}}
        <li class="nav-ite mr-2">
          <a class="nav-link" href="/cart"><i class="fa-solid fa-cart-shopping"></i>cart<span class="badge badge-success"
             style="margin-left: 3px;" id="cart-count">{{cartcount}}</span></a>
        </li>
        {{/if}}
        {{#if user}}
        <li class="nav-item">
          <a class="nav-link" href="/orders">orders</a>
        </li>
        {{/if}}
      </ul>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          {{#if user}}
          {{user.name}}
          {{else}}
         <i class="fa-regular fa-user"></i> Account
          {{/if}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          {{#if user}}
          <a class="dropdown-item" href="/logout">Logout</a>
          {{else}}
          <a class="dropdown-item" href="/login">Login</a>

          {{/if}}

        </div>
      </div>
    </div>
  </nav>
</header>