<div class="row mt-5">
    <div class="col-4"></div>
       <div class="col-4 text-center">
        <i class="fa-solid fa-check" style="font-size: 50px;color: blue;"></i>
        <h1>Order Placed</h1>
       </div>
</div>
<div class="row mt-5">
    <div class="col-4"></div>
    <div class="col-4 text-center">
        <a href="/orders" class="btn btn-primary">View Order Details</a>
    </div>
</div>